@model FilmLister.WebUI.Models.FilmList

@{
    ViewData["Title"] = "Film Lister - Choose a Film";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Completed)
{
    <h4>
        Which do you prefer?
    </h4>
    <div class="row align-items-center">
        <div class="col-4">
            <a asp-controller="FilmList" asp-action="SubmitFilmChoice" asp-route-id="@Model.Id" asp-route-lesserFilmId="@Model.ChoiceB.Id" asp-route-greaterFilmId="@Model.ChoiceA.Id">
                <figure>
                    <img class="img-fluid" src="@Model.ChoiceA.ImageUrl" />
                    <figcaption>
                        @Html.DisplayFor(model => model.ChoiceA.DisplayName)
                    </figcaption>
                </figure>
            </a>
            <a class="btn btn-secondary" asp-controller="FilmList" asp-action="SubmitIgnoreFilm" asp-route-filmListId="@Model.Id" asp-route-filmId="@Model.ChoiceA.Id">Not Seen</a>
        </div>
        <div class="col-4 mx-auto align-middle align-items-center text-center">
            <h4 class="text-left">@Model.ChoiceA.Name</h4>
            <h5>OR</h5>
            <h4 class="text-right">@Model.ChoiceB.Name</h4>
        </div>
        <div class="col-4">
            <a asp-controller="FilmList" asp-action="SubmitFilmChoice" asp-route-id="@Model.Id" asp-route-lesserFilmId="@Model.ChoiceA.Id" asp-route-greaterFilmId="@Model.ChoiceB.Id">
                <figure>
                    <img class="img-fluid" src="@Model.ChoiceB.ImageUrl" />
                    <figcaption>
                        @Html.DisplayFor(model => model.ChoiceB.DisplayName)
                    </figcaption>
                </figure>
            </a>
            <a class="btn btn-secondary" asp-controller="FilmList" asp-action="SubmitIgnoreFilm" asp-route-filmListId="@Model.Id" asp-route-filmId="@Model.ChoiceB.Id">Not Seen</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            You must make a singular choice, "not sure" or "no opinion" are not allowed.
        </div>
    </div>
    <hr />
}
else
{
    <h4>
        Sort Complete
    </h4>
}
<hr />
<div class="row">
    @foreach (var film in Model.SortedFilms.Reverse())
    {
        <div class="col-4 col-md-2">
            <figure>
                <img class="img-fluid" src="@film.ImageUrl" />
                <figcaption>
                    @film.DisplayName
                </figcaption>
            </figure>
        </div>
    }
</div>
@if (Model.IgnoredFilms?.Any() == true)
{
    <div class="row">
        <h4>Unseen Films</h4>
    </div>
    <div class="row">
        @foreach (var film in Model.IgnoredFilms)
        {

            <div class="col-4 col-md-2">
                <figure>
                    <img class="img-fluid" src="@film.ImageUrl" />
                    <figcaption>
                        @film.DisplayName
                    </figcaption>
                </figure>
            </div>
        }
    </div>
}
