@model FilmLister.WebUI.Models.FilmList

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>View</h1>

@if (!Model.Completed)
{
    <h4>
        Which do you prefer?
    </h4>
    <div class="row">
        <div class="col-sm">
            <a asp-controller="FilmList" asp-action="SubmitFilmChoice" asp-route-id="@Model.Id" asp-route-lesserFilmId="@Model.ChoiceB.Id" asp-route-greaterFilmId="@Model.ChoiceA.Id">
                <figure>
                    <img width="200" src="@Model.ChoiceA.ImageUrl" />
                    <figcaption>
                        @Html.DisplayFor(model => model.ChoiceA.Name)
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a asp-controller="FilmList" asp-action="SubmitFilmChoice" asp-route-id="@Model.Id" asp-route-lesserFilmId="@Model.ChoiceA.Id" asp-route-greaterFilmId="@Model.ChoiceB.Id">
                <figure>
                    <img width="200" src="@Model.ChoiceB.ImageUrl" />
                    <figcaption>
                        @Html.DisplayFor(model => model.ChoiceB.Name)
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
}


<div>
    <h4>FilmList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Completed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Completed)
        </dd>
    </dl>
</div>
@if (Model.Completed)
{
    <h4>
        Sort Complete
    </h4>
}
<div class="row">
    @foreach (var film in Model.SortedFilms.Reverse())
    {
        <div class="col-sm-2">
            <figure>
                <img width="100" src="@film.ImageUrl" />
                <figcaption>
                    @film.Name
                </figcaption>
            </figure>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
