@model FilmLister.WebUI.Models.FilmList

@{
    ViewData["Title"] = "Film Lister - Add to a List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Published)
{
    <h1>@Model.Name</h1>
    <div class="row pb-2">
        <div class="col-md-8">
            Share this list:
            <input type="text" class="form-control" readonly value="@(Context.Request.IsHttps ? "https://" : "http://" )@Context.Request.Host@Context.Request.Path" />
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="alert alert-dark" role="alert">
                A list cannot be modified once it's published, but it can be
                <a asp-controller="FilmList" asp-action="Clone" asp-route-filmListId="@Model.Id">cloned</a>.
            </div>
        </div>
    </div>
}
else
{
    <h1>Create a Film List</h1>
    <div class="row">
        <div class="col-md">
            <form method="post" action="/FilmList/Rename">
                <input type="hidden" asp-for="Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group input-group" style="margin-right: 5px">
                    <label asp-for="Name" class="col-form-label control-label mr-1"></label>
                    <input asp-for="Name" class="form-control mr-1" />
                    <input type="submit" value="Rename List" class="btn btn-secondary mr-1" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            Create a film list be searching titles and pressing Add. You can add a many films as you'd like.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-9">
            <div id="selectedFilmImgContainer" class="jumbotron">
                <h3>Choose a film</h3>
                <img id="selectedFilmImg" class="img-fluid" />
            </div>
        </div>
        <div class="col-lg-9">
            <form id="filmForm" method="post" action="/FilmList/AddFilm">
                <input type="hidden" id="filmListId" name="filmListId" value="@Model.Id" />
                <div class="form-group">
                    <h4>Search by film name:</h4>
                    <label class="control-label">Film Name</label>
                    <input id="filmSearch" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <h4>Search by person, such as actor or director:</h4>
                    <label class="control-label">Person Name</label>
                    <input id="personSearch" class="form-control" type="text" />

                    <div class="form-check" id="jobFilterContainer"></div>

                    <label class="control-label">Person's Film</label>
                    <input id="filmsPerPersonSearch" class="form-control" type="text" disabled="disabled" />
                </div>
                <div class="form-group">
                    <input id="submitButton" type="submit" value="Add" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>
}
<hr />
<div id="filmRow" class="row">
    @foreach (var film in Model.Films)
    {
        <div class="col-4 col-md-2">
            <figure>
                <img class="img-fluid" src="@film.ImageUrl" />
                <figcaption>
                    @if (!string.IsNullOrEmpty(film.ImdbLink))
                    {
                        <a href="@film.ImdbLink" target="_blank">
                            @film.DisplayName
                        </a>
                    }
                    else
                    {
                        @film.DisplayName
                    }
                </figcaption>
            </figure>
            @if (!Model.Published)
            {
                <form action="/FilmList/RemoveFilm" method="post">
                    <input type="hidden" name="filmListId" value="@Model.Id" />
                    <input type="hidden" name="tmdbId" value="@film.TmdbId" />
                    <input type="submit" class="btn btn-outline-danger" value="Remove" />
                </form>
            }
        </div>
    }
</div>
<hr />
@if (Model.Published)
{
    <div class="row">
        <div class="col-md">
            <a class="btn btn-outline-primary" asp-controller="FilmRank" asp-action="Create" asp-route-listId="@Model.Id">Play the list</a>
        </div>
        <div class="col-md">
            <form method="post" action="/FilmList/Clone">
                <input type="hidden" name="filmListId" value="@Model.Id" />
                <div class="form-group input-group" style="margin-right: 5px">
                    <input type="submit" value="Clone" class="btn btn-outline-secondary mr-1" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <form method="post" action="/FilmList/Publish">
                <input type="hidden" asp-for="Id" />
                <div class="form-group input-group" style="margin-right: 5px">
                    <input type="submit" value="Publish" class="btn btn-primary mr-1" />
                    <p class="form-text font-italic">
                        Publish a list so it can be played. A list cannot be modified once it is published.
                    </p>
                </div>
            </form>
        </div>
    </div>
}
